<% content_for :title do %>About<% end %>
<h3> About Foobar Kadigan</h3>
<p>He was born in Ireland in 1992. He had a period playing professional football before he became an entreprenur.
He learned how to build an app and eventually sold it for 50 million. He began to live the life and did everything
he wanted to do.</p>
<p>He favourite quote is: If you want it go get it</p>
